@import "src/assets/styles/_variables";

.welcome-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  place-content: center;
  place-items: center;
}

.login-container{
  border: 3px solid $se_green;
  border-radius: 20px;
  padding: 5%;
  height: 50vh;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  place-content: space-around;
}

.access-button{
  width:50%;
  margin: 0 auto !important;
}