@import "src/assets/styles/_variables";

.navbar {
  width: 100% ;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 3vh 10vw ;
  background-color: $se-light-background-grey ;
}

