@import "src/assets/styles/_variables";

.navbar {
  width: 100% ;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4vh 10vw ;
  background-color: $se-light-background-grey ;
  position: relative;
  z-index: 3;

  .logo {
    pointer-events: all;
    cursor: pointer;
    height: 80px;
    width: 200px;
    object-fit: contain;
  }
}


@media screen and (max-width: 768px) {
  .navbar {
    padding: 4vh 6vw ;

    .logo {
      width: 150px;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 3vh 4vw ;

    .logo {
      width: 120px;
    }
  }
}
